{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block require_css %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4>Запрошенная Вами страница не найдена.</h4>
                <h4>Вернуться на <a href="/">главную</a>.</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block require_js %}
{% endblock %}